{
    "plugins": [
        [
            "@babel/plugin-transform-typescript",
            {
                "allowDeclareFields": true
            }
        ],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        [
            "module-resolver",
            {
                "root": ["."],
                "extensions": [".js", ".ts", ".tsx", ".json"],
                "alias": {
                    "@src": "./src"
                }
            }
        ],
        [
            "wildcard",
            {
                "exts": ["js", "es6", "es", "tsx", "typescript"]
            }
        ],
        ["import-directory"],
        ["macros"]
    ],
    "presets": [
        [
            "@babel/preset-typescript",
            {
                "allowDeclareFields": true
            }
        ],
        ["@babel/preset-env"],
        ["@babel/preset-react"]
    ]
}
