{
	"printWidth": 100,
	"endOfLine": "lf",
	"trailingComma": "all",
	"tabWidth": 4,
	"singleQuote": true,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.yml", "*.yaml", ".graphqlrc"],
			"options": {
				"printWidth": 50
			}
		}
	]
}
